.extra-modality {
    display: none;
}
.modal.in .extra-modality {
    background: #000;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.modal .qr-holder {
    display: block;
    position: relative;
    text-align: center;
    background: #FFFFEE;
    border: 1px solid #CCC;
    padding: 15px;
}
.modal .qr-holder img {
    display: inline-block;
    position: relative;
    text-align: center;
    background: #FFF;
    border: 1px solid #CCC;
    padding: 15px;
}
span.alert-block {
    display: block;
    width: 100%;
    text-align: center;
}
span.alert-empty {
    display: none;
}
.modal span.alert-block {
    margin-bottom: 0;
}
a.btn:hover,
#content .row div a.btn:hover {
    color: #FFFF99;
}
a.btn.btn-default:hover,
#content .row div a.btn.btn-default:hover {
    color: #069;
}
form.form-horizontal .form-group {
    padding: 0 0 0 16px;
}
form.form-horizontal .form-group .control-label {
    text-align: left;
    background: #EEE;
    border: 1px solid #CCC;
    border-radius: 4px 0 0 4px;
    line-height: 30px;
    padding: 7px 0 7px 12px;
}
form.form-horizontal .form-group .control-label a.btn-xs.pull-right {
    margin: 4px 10px 0 0;
}
form.form-horizontal .form-group select,
form.form-horizontal .form-group input[type="password"],
form.form-horizontal .form-group input[type="text"] {
    height: 46px;
    background: #FFFFEE;
    border: 1px solid #CCC;
    border-radius: 0 4px 4px 0;
    margin: 0 0 0 -16px;
    width: calc(100% + 16px);
}
form.form-horizontal .form-group input[readonly="readonly"] {
    background: #F7F7F7 !important;
}
form.form-horizontal .form-group .control-label.empty {
    border: none;
    background: transparent;
}
.modal .modal-header {
    background: #EEE;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid #CCC;
}

@media (max-width: 768px) { 
    form.form-horizontal .form-group {
        padding: 0;
    }
    form.form-horizontal .form-group .control-label {
        background: transparent;
        border: none;
    }
    .btn.pull-right {
        float: none !important;
    }
    form.form-horizontal .form-group select,
    form.form-horizontal .form-group input[type="text"] {
        margin: 0;
        width: 100%;
    }
}